# OS files
.DS_Store
Thumbs.db

# Editor files
*.swp
*.swo
*~

# IDE
.idea/
.vscode/
*.sublime-*

# Local testing
test-project/

# Claude Code local settings
.claude/settings.local.json

# Project file
.aicontext/project.md
.aicontext/structure.md

# Project tasks
.aicontext/tasks
!.aicontext/tasks/.gitkeep


# Generated Version File
.aicontext/.version
